version: '3'
services:
  # rails app
  app:
    build:
      context: .
      dockerfile: build/Dockerfile
    tty: true
    stdin_open: true
    environment:
      TZ: 'Asia/Tokyo'
    volumes:
      - ./rails-app:/rails-app
    ports:
      - 3030:80
    depends_on:
      - mysql
    networks:
      app_net:
        ipv4_address: 172.16.228.2
  # DB（MySQL）
  mysql:
    image: mysql:5.6
    command: mysqld --character-set-server=utf8 --skip-character-set-client-handshake
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_DATABASE: sample-db
      TZ: Asia/Tokyo
    volumes:
      - mysql-data:/var/lib/mysql
    expose:
      - '3306'
    networks:
      app_net:
        ipv4_address: 172.16.228.3
  # MySQL管理GUIツール
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_HOST=mysql
      - PMA_USER=root
    ports:
      - 18080:80
    depends_on:
      - mysql
    networks:
      app_net:
        ipv4_address: 172.16.228.4
volumes:
  mysql-data:
    driver: local
networks:
  app_net:
    driver: bridge
    ipam:
     driver: default
     config:
       - subnet: 172.16.228.0/24
